<!DOCTYPE html>
<html>
<head>
	<title>The Royal Game of Ur</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<script src="/static/board.js" charset="utf-8"></script>
	<script type="text/javascript">var gameId = "{{ game_id }}"; // get game_id from flask app</script>
</head>

<body>

	<input id="reset-game" type="button" value="Reset Game" />

	<p id="current-turn"></p>
	<p id="roll"></p>

	<p id="message"></p>

	<div id="board">
		<div id="8" class="square"></div>
		<div id="7" class="square"></div>
		<div id="6" class="square"></div>
		<div id="5" class="square"></div>
		<div id="black-finish" class="square"></div>
		<div id="black-finish" class="square"></div>
		<div id="20" class="square"></div>
		<div id="19" class="square"></div>
		<div id="9" class="square"></div>
		<div id="10" class="square"></div>
		<div id="11" class="square"></div>
		<div id="12" class="square"></div>
		<div id="13" class="square"></div>
		<div id="14" class="square"></div>
		<div id="15" class="square"></div>
		<div id="16" class="square"></div>
		<div id="4" class="square"></div>
		<div id="3" class="square"></div>
		<div id="2" class="square"></div>
		<div id="1" class="square"></div>
		<div id="white-finish" class="square"></div>
		<div id="white-finish" class="square"></div>
		<div id="18" class="square"></div>
		<div id="17" class="square"></div>
	</div>
	<br>
	<input id="new-piece" type="button" value="New Piece" />

	<p id="available-white"></p>
	<p id="available-black"></p>

</body>
</html>